name: 同步新闻联播到bsky
on:
  schedule:
    - cron: "*/3 11 * * *"
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GH_PAT || github.token }}
      - run: pip install -r requirements.txt
      - shell: bash
        env:
          atproto_username: ${{secrets.ATPROTO_USERNAME_XWLB}}
          atproto_password: ${{secrets.ATPROTO_PASSWORD_XWLB}}
        run: >
          python main.py --lm xwlb --service "https://network.hukoubook.com" --username "$atproto_username" --password "$atproto_password"
